.flex-container{
  width: 100%;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: space-around; 
}

.card {
  border: 2px solid black;
  width: 300px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.card-square {
  height: 300px;
}

#card3 {
  height: 200px;
}

#card4 {
  height: 500px;
}