*{
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 50px;
  height: 50px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header header header2"
  "series series aus aus next"
  "author author aus aus next"
  "author author recent current next";
}

.grid-container > div {
  border: 1px solid black;
  padding: 15px 30px;
}

#header1{
  grid-area: header;
  
  text-align: center;
}

#seriesSection{
  grid-area: series;

  grid-template-areas:
  "title img-large"
  "list img-large";
}

#authorSection{
  grid-area: author;

  text-align: center;
}

#ausSection{
  grid-area: aus;
  grid-template-columns: 1fr 1fr;
}

#ausSection > h2 {
  grid-column-start: span 2;
}

#ausSection > p {
  grid-column-start: span 2;
}

.img-small {
  width: auto;
  height: 100px;
}

#ausSection > img {
  justify-self: start;
  align-self: end;
}

#ausSection > img:last-child {
  justify-self: end;
}

#recentSection{
  grid-area: recent;

  flex-direction: column;
  justify-content: space-between;
}

#currentSection {
  grid-area: current;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

#currentSection > div:first-child {
  text-align: center;
}

#currentSection > div:last-child {
  align-self: center;
}

#currentSection img {
  width: 100px;
  height: auto;
}

#header2 {
  grid-area: header2;

  text-align: left;
}

#nextSection {
  grid-area: next;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 0;
}

.flex-container {
  display: flex;
}

.sub-grid-container {
  display: grid;
}

.title{
  grid-area: title;
  align-self: center;
}

.list{grid-area: list}

#firstImg {
  justify-self: end;
}

.img-large-sq {
  grid-area: img-large;

  height: 300px;
  width: 300px;
}

#nextSection > * {
  width: 300px;
}

#nextSection > img {
  height: auto;
}


