body {
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  border: 2px solid coral;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: lightgreen;
  margin-left: 50px;
  margin-right: 50px;
}

.card{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  border: 2px solid coral;
  background-color: hotpink;
}

p {
  margin-left: 30px;
}