.CardFront {
    height: 400px;
    width: 275px;
    border: 2px solid purple;
    border-radius: 6px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
    margin-left: 20px;

    img {
        height: 60%;
        width: 100%;
        border-radius: 2px 2px 0 0;
    }

    &_content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 35%;
    }

    &_footer {
        display: flex;
        justify-content: space-between; 
        padding-right: 15px;
    }

    &_header {
        color: purple;
    }

    &_link {
        color: gray;
        text-decoration: none;
    }

    &_country {
        color: gray;
    }

    &_icon {
        color:  gray;
    }
}
