.document{
  font-family: Arial, Helvetica, sans-serif;
}

.document__paragraph {
  color: black;
  margin-left: 30px;
}

.document__paragraph--italic {
  font-style: italic;
}

.document__paragraph--dark-grey {
  color: #333;
}

.document__paragraph--underline {
  text-decoration: underline;
}

.document__paragraph--blue {
  color: blue;
}
