.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--even {
    justify-content: space-evenly;
  }

  &--center {
    justify-content: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}