.img {
  height: 100px;
  width: auto;
  
  &--large {
    height: 300px;
    width: 300px;
  }

  &--med {
    height: 150px; 
  }

  &--small {
    height: 100px;
  }

  &--long {
    width: 300px;
  }
}